/**
 * Create margin, padding at some points.
 */

$box-model-maps: (
  0: 0px,
  5: 5px,
  10: 10px,
  15: 15px,
);
@each $key, $value in $box-model-maps {
  .u-mg-#{$key} {margin: $value !important;}
  .u-mgb-#{$key} {margin-bottom: $value !important;}
  .u-mgt-#{$key} {margin-top: $value !important;}
  .u-mgl-#{$key} {margin-left: $value !important;}
  .u-mgr-#{$key} {margin-right: $value !important;}
  .u-pd-#{$key} {padding: $value !important;}
  .u-pdb-#{$key} {padding-bottom: $value !important;}
  .u-pdt-#{$key} {padding-top: $value !important;}
  .u-pdl-#{$key} {padding-left: $value !important;}
  .u-pdr-#{$key} {padding-right: $value !important;}
}



/**
 * Utilities
 */

.u-no-collapse {padding: 0.1px !important;}
.u-no-border {border: none !important;}
.u-no-outline {outline: none !important;}

.u-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.u-pull-right {float: right;}
.u-pull-left {float: left;}