/**
 * General helper classes for controlling display
 *
 * These are the basic classes you might need to apply to typical HTML content.
 * If you find yourself needing something like `table`, `table-cell`, `flex`,
 * etc., then you probably need a more complex object and shouldn't be using
 * utility classes in the first place.
 */

.u-d-b        { display: block !important; }
.u-display-inline       { display: inline !important; }
.u-d-ib { display: inline-block !important; }
.u-display-none { display: none !important; }





/**
 * Completely hide content from view and from screenreaders.
 */
.u-hide                 { display: none; }
