.u-circle {
  border-radius: 50% !important;
}

.u-bd {
  border: 1px solid black;
}

.u-dashed-circle {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, #fff), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, #fff 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to right, #fff 33%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 6px 2px;
  background-repeat: repeat-x;
  height: 4px;
}