@mixin left-right-item() {
	& {
		font-size: 1px;
		text-align: justify;

		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}

	&:after {
		content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
	}
}